html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
  small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
  ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,
  menu, nav, output, ruby, section, summary, time, mark, audio, video
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html { 
    box-sizing:border-box;
    }
    *, *::before, *::after{
        box-sizing:inherit;
    }

body {
    font-size: 20px;
    font-family: "Literata", serif;
    font-style:normal;
    font-weight: normal;
    color:  black;
}
a {
  text-decoration: none;
  color: black;
}
li {
  list-style-type: none;
}
.visible {
    opacity: 1;
}
.container {
    margin: 20px 100px 20px 100px;
    #homePage {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        h1 {
             font-size: 60px;
             text-align: center;

        }
        p {
           
           text-align: center;
        }
        .img-container {
            position: relative;
            display: flex;
            height: 400px;
            width: 100%;
            .imageMain {
                
                display: inline-block;
                opacity: 0;
                position: absolute;
                transition: 2s;
            }
             img:nth-child(1) {
                    left: 3%;
                    top: 0px;
                    width: 30%;
                    transform: rotate(-25deg);
                    z-index: 1;
                }
                img:nth-child(2) {
                    left: 27%;
                    top: 0px;
                    width: 50%;
                    transform: rotate(0deg);
                }
                img:nth-child(3) {
                    left: 70%;
                    top: 0px;
                    width: 30%;
                    transform: rotate(25deg);
                    z-index: 1;
                }
           
        }
        button {
            margin: 30px auto;
            width: 250px;
            height: 50px;
            border-radius: 16px;
            border: 0;
            background-color: forestgreen;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 1s;
            box-shadow: inset 1px 3px 1px #fff4;
        }
        button:hover {
	    background: black;
	    transition: 1s;
        }
      
    
}
    #mainPage {
        display: none;
        flex-direction: column;
        width: 100%;
        font-size: 14px;

        h1 {
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            font-style: italic;
        }
        #toolbar {
            width: 5%;
            height: 50px;
            border: solid black 1px;
        }
        #loadedPhotos {
            width: 100%;
            height: 50px;
            border: solid black 1px;

            
        }
        #constructor {
            display: flex;
            
            width: 100%;
            min-height: 710px;
            border: solid black 1px;
            overflow: hidden;
            position: relative;
            #redactor-field {
                width: 85%;
                min-height: 600px;
                border: solid black 1px;
                display: flex;
                text-align: center;
                align-items: center;
                position: relative;
                overflow: hidden;
               
                .page-div {
                width: 95%;
                border: solid black 1px;
                min-height: 600px;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-around;
                //margin: 10px;
                position: absolute;
                align-items: center;
                top: 0;
                left: 0;
                transition:  3s;
                transform: translateX(-100%);
                .photo-div {
                    position: absolute; 
                    .buttonDeletePhoto {
                        position: absolute;
                        left: 40%;
                        top: 10%;
                        display: none;   
                    }  
                    .elemResize {
                        position: absolute;
                        width: 10px;
                        height: 10px;
                        background-color: blueviolet;
                        z-index: 1;
                        cursor: pointer;
                        display: none;
                    }
                }
                .photo-div:hover {
                    .buttonDeletePhoto {
                        display: block;
                    }
                    .elemResize {
                        display: block;
                    }
                }
                .photo-div.activePhoto {
                    border: blueviolet solid 2px;
                }
                
                .buttonAddPhoto {
                    position: absolute;
                }
                
                
                .buttonFinishAdding {
                    position: absolute;
                    left: 40%;
                    top: 90%;
                }
                .one-photo {
                    width: 70%;
                    overflow: hidden;
                    height: 500px;
                    object-fit: cover;
                    background-color: bisque;
                }
                .two-photo {
                    width: 40%;
                    height: 500px;
                    overflow: hidden;
                    background-color: bisque;
                }
                .three-photo {
                    width: 25%;
                    height: 500px;   
                    overflow: hidden;
                    background-color: bisque;
                    
                }
                .four-photo {
                    width: 300px;
                    height: 200px;   
                    overflow: hidden;
                    background-color: bisque;
                }
                

            }
           .page-div.active {
                transform: translateX(0);
                z-index: 2;
           }
          
            .page-div.prev {
                transform: translateX(100%);
            }
            .page-div.next {
                transform: translateX(-100%);
            }

            
            
            }
            .prev {
                width: 3%;
                padding: 0;
            }
            .next {
                width: 3%;
                padding: 0;
            }
            #toolBar {
                display: flex;
                flex-direction: column;
                width: 9%;
               align-items: center;
               text-align: center;
                
                margin-top: 10px;
                .list-pages {
                    display: flex;
                    flex-direction: column;
                    margin: 20px auto;
                    button {
                        background-color: #007bff; 
                        color: white; 
                        padding: 5px 10px;
                        border: none; 
                        border-radius: 5px; 
                        font-size: 16px;
                        cursor: pointer; 
                        transition: background-color 0.3s ease, transform 0.2s ease; 
                        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
                        margin: 5px;
                    }
                    button:hover {
                        background-color: #0056b3; 
                        transform: translateY(-2px); 
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                    }
                }
                .arrows {
                    display: flex;
                    flex-direction: column;
                    button {
                    transition:  transform 0.2s ease; 
                    background-color: transparent; 
                    border: none; 
                    padding: 10px; 
                    cursor: pointer; 
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    border-radius: 50%; 
                    display: inline-flex; 
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    margin: 5px;
                    img {
                        width: 100%;
                    }
                    button:hover  {
                        
                            transform: scale(1.2); 
                       transform: translateY(-2px); 
                        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); 
                        
                        
                    }
                }
                }
                
            }

        }

    }
}

@media all and (max-width: 700px) {
    #homePage {
        .img-container {
            flex-direction: column;
        }
    }
    #mainPage {
        
    }
}

