html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-size: 20px;
  font-family: "Literata", serif;
  font-style: normal;
  font-weight: normal;
  color: black; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

.visible {
  opacity: 1; }

.container {
  margin: 20px 100px 20px 100px; }
  .container #homePage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .container #homePage h1 {
      font-size: 60px;
      text-align: center; }
    .container #homePage p {
      text-align: center; }
    .container #homePage .img-container {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 400px;
      width: 100%; }
      .container #homePage .img-container .imageMain {
        display: inline-block;
        opacity: 0;
        position: absolute;
        -webkit-transition: 2s;
        transition: 2s; }
      .container #homePage .img-container img:nth-child(1) {
        left: 3%;
        top: 0px;
        width: 30%;
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
        z-index: 1; }
      .container #homePage .img-container img:nth-child(2) {
        left: 27%;
        top: 0px;
        width: 50%;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      .container #homePage .img-container img:nth-child(3) {
        left: 70%;
        top: 0px;
        width: 30%;
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
        z-index: 1; }
    .container #homePage button {
      margin: 30px auto;
      width: 250px;
      height: 50px;
      border-radius: 16px;
      border: 0;
      background-color: forestgreen;
      color: white;
      font-weight: bold;
      font-size: 18px;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-box-shadow: inset 1px 3px 1px #fff4;
              box-shadow: inset 1px 3px 1px #fff4; }
    .container #homePage button:hover {
      background: black;
      -webkit-transition: 1s;
      transition: 1s; }
  .container #mainPage {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    font-size: 14px; }
    .container #mainPage h1 {
      text-align: center;
      font-size: 24px;
      font-weight: bold;
      font-style: italic; }
    .container #mainPage #toolbar {
      width: 5%;
      height: 50px;
      border: solid black 1px; }
    .container #mainPage #loadedPhotos {
      width: 100%;
      height: 50px;
      border: solid black 1px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .container #mainPage #loadedPhotos button {
        width: 40px;
        height: 30px;
        border: black solid 1px;
        border-radius: 10px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        cursor: pointer; }
      .container #mainPage #loadedPhotos button:nth-child(1) {
        background-color: white; }
      .container #mainPage #loadedPhotos button:nth-child(2) {
        background-color: ivory; }
      .container #mainPage #loadedPhotos button:nth-child(3) {
        background-color: lavender; }
      .container #mainPage #loadedPhotos button:nth-child(4) {
        background-color: lightcyan; }
      .container #mainPage #loadedPhotos button:nth-child(5) {
        background-color: mistyrose; }
      .container #mainPage #loadedPhotos button:nth-child(6) {
        background-color: gainsboro; }
      .container #mainPage #loadedPhotos button:hover {
        -webkit-transform: scale(1.3);
                transform: scale(1.3); }
    .container #mainPage #constructor {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      min-height: 710px;
      border: solid black 1px;
      overflow: hidden;
      position: relative; }
      .container #mainPage #constructor #redactor-field {
        width: 85%;
        min-height: 600px;
        border: solid black 1px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        overflow: hidden;
        background-color: white;
        -webkit-transition: background-color 1s ease;
        transition: background-color 1s ease; }
        .container #mainPage #constructor #redactor-field .page-div {
          width: 95%;
          border: solid black 1px;
          min-height: 600px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          position: absolute;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          top: 0;
          left: 0;
          -webkit-transition: 3s;
          transition: 3s;
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%); }
          .container #mainPage #constructor #redactor-field .page-div .photo-div {
            position: absolute; }
            .container #mainPage #constructor #redactor-field .page-div .photo-div .buttonDeletePhoto {
              position: absolute;
              left: 40%;
              top: 10%;
              display: none; }
            .container #mainPage #constructor #redactor-field .page-div .photo-div .elemResize {
              position: absolute;
              width: 10px;
              height: 10px;
              background-color: blueviolet;
              z-index: 1;
              cursor: pointer;
              display: none; }
          .container #mainPage #constructor #redactor-field .page-div .photo-div:hover .buttonDeletePhoto {
            display: block; }
          .container #mainPage #constructor #redactor-field .page-div .photo-div:hover .elemResize {
            display: block; }
          .container #mainPage #constructor #redactor-field .page-div .photo-div.activePhoto {
            border: blueviolet solid 2px; }
          .container #mainPage #constructor #redactor-field .page-div .buttonAddPhoto {
            position: absolute; }
          .container #mainPage #constructor #redactor-field .page-div .buttonFinishAdding {
            position: absolute;
            left: 40%;
            top: 90%; }
          .container #mainPage #constructor #redactor-field .page-div .one-photo {
            width: 70%;
            overflow: hidden;
            height: 500px;
            -o-object-fit: cover;
               object-fit: cover;
            background-color: bisque; }
          .container #mainPage #constructor #redactor-field .page-div .two-photo {
            width: 40%;
            height: 500px;
            overflow: hidden;
            background-color: bisque; }
          .container #mainPage #constructor #redactor-field .page-div .three-photo {
            width: 25%;
            height: 500px;
            overflow: hidden;
            background-color: bisque; }
          .container #mainPage #constructor #redactor-field .page-div .four-photo {
            width: 300px;
            height: 200px;
            overflow: hidden;
            background-color: bisque; }
        .container #mainPage #constructor #redactor-field .page-div.active {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          z-index: 2; }
        .container #mainPage #constructor #redactor-field .page-div.prev {
          -webkit-transform: translateX(100%);
                  transform: translateX(100%); }
        .container #mainPage #constructor #redactor-field .page-div.next {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%); }
      .container #mainPage #constructor .prev {
        width: 3%;
        padding: 0; }
      .container #mainPage #constructor .next {
        width: 3%;
        padding: 0; }
      .container #mainPage #constructor #toolBar {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        width: 9%;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: center;
        margin-top: 10px; }
        .container #mainPage #constructor #toolBar .list-pages {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          margin: 20px auto; }
          .container #mainPage #constructor #toolBar .list-pages p {
            font-style: italic;
            font-size: 16px; }
          .container #mainPage #constructor #toolBar .list-pages button {
            background-color: #007bff;
            color: white;
            padding: 5px 10px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            -webkit-transition: background-color 0.3s ease, -webkit-transform 0.2s ease;
            transition: background-color 0.3s ease, -webkit-transform 0.2s ease;
            transition: background-color 0.3s ease, transform 0.2s ease;
            transition: background-color 0.3s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
            -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin: 5px; }
          .container #mainPage #constructor #toolBar .list-pages button:hover {
            background-color: #0056b3;
            -webkit-transform: translateY(-2px);
                    transform: translateY(-2px);
            -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
        .container #mainPage #constructor #toolBar .arrows {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; }
          .container #mainPage #constructor #toolBar .arrows button {
            -webkit-transition: -webkit-transform 0.2s ease;
            transition: -webkit-transform 0.2s ease;
            transition: transform 0.2s ease;
            transition: transform 0.2s ease, -webkit-transform 0.2s ease;
            background-color: transparent;
            border: none;
            padding: 10px;
            cursor: pointer;
            -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            border-radius: 50%;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            width: 40px;
            margin: 5px; }
            .container #mainPage #constructor #toolBar .arrows button img {
              width: 100%; }
          .container #mainPage #constructor #toolBar .arrows button:hover {
            -webkit-transform: scale(1.2);
                    transform: scale(1.2);
            -webkit-transform: translateY(-2px);
                    transform: translateY(-2px);
            -webkit-box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
                    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); }
        .container #mainPage #constructor #toolBar #saveButton {
          background: #007bff;
          border: none;
          border-radius: 25px;
          color: white;
          padding: 5px 10px;
          cursor: pointer;
          font-size: 16px;
          -webkit-transition: 0.5s;
          transition: 0.5s;
          -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
                  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
          margin-top: 40px; }
        .container #mainPage #constructor #toolBar #saveButton:hover {
          -webkit-transform: scale 1.1;
                  transform: scale 1.1;
          -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
                  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); }

@media all and (max-width: 700px) {
  #homePage .img-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; } }

/*# sourceMappingURL=stylesheet.css.map */