html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  font-size: 20px;
  font-family: "Literata", serif;
  font-style: normal;
  font-weight: normal;
  color: black; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style-type: none; }

.visible {
  opacity: 1; }

.container {
  margin: 20px 100px 20px 100px; }
  .container #homePage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .container #homePage h1 {
      font-size: 60px;
      text-align: center; }
    .container #homePage p {
      margin-bottom: 100px;
      text-align: center; }
    .container #homePage .img-container {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      height: 400px;
      width: 100%; }
      .container #homePage .img-container .imageMain {
        display: inline-block;
        opacity: 0;
        position: absolute;
        -webkit-transition: 2s;
        transition: 2s; }
      .container #homePage .img-container img:nth-child(1) {
        left: 3%;
        top: 0px;
        width: 30%;
        -webkit-transform: rotate(-25deg);
                transform: rotate(-25deg);
        z-index: 1; }
      .container #homePage .img-container img:nth-child(2) {
        left: 27%;
        top: 0px;
        width: 50%;
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg); }
      .container #homePage .img-container img:nth-child(3) {
        left: 70%;
        top: 0px;
        width: 30%;
        -webkit-transform: rotate(25deg);
                transform: rotate(25deg);
        z-index: 1; }
    .container #homePage button {
      margin: auto;
      width: 250px;
      height: 50px;
      border-radius: 16px;
      border: 0;
      background-color: forestgreen;
      color: white;
      font-weight: bold;
      font-size: 18px;
      -webkit-transition: 1s;
      transition: 1s;
      -webkit-box-shadow: inset 1px 3px 1px #fff4;
              box-shadow: inset 1px 3px 1px #fff4; }
    .container #homePage button:hover {
      background: black;
      -webkit-transition: 1s;
      transition: 1s; }
  .container #mainPage {
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    font-size: 14px; }
    .container #mainPage #toolbar {
      width: 5%;
      height: 100vh;
      border: solid black 1px; }
    .container #mainPage #loadedPhotos {
      width: 28%;
      height: 100vh;
      border: solid black 1px; }
      .container #mainPage #loadedPhotos .imgDiv {
        width: 110px;
        padding: 5px;
        position: relative;
        display: inline-block; }
      .container #mainPage #loadedPhotos .closeSpan {
        display: none;
        width: 20px;
        height: 20px;
        text-align: center;
        background-color: red;
        position: absolute;
        color: white;
        border-radius: 50%;
        font-size: 12px;
        line-height: 20px;
        font-family: serif;
        left: 90px;
        top: 0px; }
      .container #mainPage #loadedPhotos .closeSpan:hover {
        cursor: pointer; }
      .container #mainPage #loadedPhotos .imgDiv:hover img {
        border: solid blue 2px; }
      .container #mainPage #loadedPhotos .imgDiv:hover .closeSpan {
        display: block; }
    .container #mainPage #constructor {
      width: 900px;
      height: 710px;
      border: solid black 1px;
      overflow: hidden;
      position: relative; }
      .container #mainPage #constructor #redactor-field {
        width: 900px;
        height: 600px;
        border: solid black 1px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        text-align: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        position: relative;
        overflow: hidden; }
        .container #mainPage #constructor #redactor-field .page-div {
          width: 900px;
          border: solid black 1px;
          height: 550px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          -ms-flex-pack: distribute;
              justify-content: space-around;
          margin: 10px;
          position: absolute;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          top: 0;
          left: 0;
          -webkit-transition: 3s;
          transition: 3s; }
          .container #mainPage #constructor #redactor-field .page-div .buttonAddPhoto {
            position: absolute; }
          .container #mainPage #constructor #redactor-field .page-div .one-photo {
            width: 500px;
            overflow: hidden;
            height: 500px;
            -o-object-fit: cover;
               object-fit: cover;
            background-color: bisque; }
          .container #mainPage #constructor #redactor-field .page-div .two-photo {
            width: 300px;
            height: 500px;
            overflow: hidden;
            background-color: bisque; }
          .container #mainPage #constructor #redactor-field .page-div .page3 {
            width: 200px;
            height: 500px;
            overflow: hidden;
            background-color: bisque; }
          .container #mainPage #constructor #redactor-field .page-div .page4 {
            width: 300px;
            height: 200px;
            overflow: hidden;
            background-color: bisque; }
        .container #mainPage #constructor #redactor-field .page-field:not(.active) {
          -webkit-transform: translateX(-100%);
                  transform: translateX(-100%); }
      .container #mainPage #constructor #list-pages {
        width: 100%;
        border: solid black 1px;
        height: 100px;
        margin-top: 10px; }

/*# sourceMappingURL=stylesheet.css.map */